.header-container {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.header-row {
    display: flex;
    align-items: center;
    padding: 9px;
}

.first-row {
    justify-content: flex-start;
}

.close-icon {
    color: gray;
    margin: 8px;
    font-size: 0.85rem;
}

.thin-icon {
    font-weight: 200;
}

.divider {
    border: none;
    border-top: 1px solid lightgray;
    margin: 0;
}

.second-row {
    justify-content: space-between;
}

.view-button {
    background-color: lightgray;
    color: gray;
    border: none;
    padding: 4px px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 0.8rem;
    cursor: pointer;
}

.options-icon {
    margin-right: 4px;
}

.right-buttons {
    display: flex;
    gap: 8px;
}

.add-ticket-button {
    background-color: green;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 0.8rem;
    cursor: pointer;
}

.append-bonus-button {
    background-color: white;
    color: gray;
    border: 1px solid gray;
    padding: px 8px;
    border-radius: 8px;
    font-size: 0.8rem;
    cursor: pointer;
}
